.searchResults {
  min-height: 100vh;
  min-height: 100dvh;
  padding: 3rem 4rem;

  background-color: var.$bgColor;
  color: var.$textColor;
  
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-family: var.$fontBase;

  @media (max-width: 768px) {
    padding: 3rem 2rem;
  }

  h1 {
    font-size: 3.3rem;
    line-height: 1.2rem;
  }

  h2 {
    font-size: clamp(2.2rem, 3vw, 2.5rem);
  }
}