.results {
  min-height: 100vh;
  min-height: 100dvh;
  h1 {
    font-size: 3.3em;
  }
  padding: 1rem;
  background-color: var.$bgColor;
  color: var.$textColor;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-family: var.$fontBase;

  @media (min-width: 768px) {
    padding: 2rem;
  }

  @media (min-width: 1200px) {
    padding: 3rem 4rem;
  }

  h2 {
    font-size: clamp(2.2rem, 3vw, 2.5rem);
  }
}