:global {
  .swiper-button-prev,
  .swiper-button-next {
    &:hover,
    &:focus {
      outline: 0.2rem solid #ff669f;
    }
  }
  .swiper-pagination-bullet:hover,
  .swiper-pagination-bullet:focus {
    outline-offset: 0.3rem;
    outline: 0.2rem solid #ff669f;
  }
}

:root {
  --swiper-navigation-color: #ff3b7f;
  --swiper-navigation-size: 2.5rem;
  --swiper-pagination-color: #ff669f;
}

.newReleases {
  position: relative;
  color: var.$textColor;
  padding: 3rem;

  &__title {
    margin-bottom: 2rem;
  }

  h2 {
    font-size: clamp(2.2rem, 3vw, 2.5rem);
  }

  h3 {
    font-size: clamp(2.2rem, 3vw, 2.5rem);
  }

  &__carouselContainer {
    align-items: center;
    position: relative;

    &__arrowBox {
      height: 100%;
      width: 3rem;
    }
  }

  &__carousel {
    width: 100%;
    height: clamp(32rem, 42vw, 47rem);
    justify-content: center;
    z-index: 0;
    border-radius: var.$bigBorderRadius;
  }

  &__card {
    min-height: clamp(30rem, 40vw, 45rem);

    &:hover,
    &--active {
      box-shadow: var.$darkBoxShadow;

      .newReleases__description {
        opacity: 1;
        max-height: 20rem;
      }

      &::before {
        height: clamp(15vh, 23vh, 28vh);
        opacity: 1;
      }

      .newReleases__info {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    z-index: 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;

    opacity: 0;
    transform: translateY(1rem);
    @include mx.transition(opacity, transform);

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2rem 1rem 1rem;
    z-index: 3;

    @media (max-width: 665px) {
      padding: 1rem;
    }

    &__age {
      font-size: 1.8rem;
      font-family: var.$fontBase;
      font-weight: 700;
      background: #ff0048;
      color: var.$textColor;
      padding: 0.3rem 0.5rem;
      border-radius: 0.3rem;
      max-width: fit-content;
    }
  }

  &__gameTitle {
    margin-bottom: 0.3rem;
  }

  &__age {
    background: #ff0048;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
  }

  &__description {
    margin-top: 0.5rem;
    line-height: 1.4;
    opacity: 0;
    max-height: 0;
    z-index: inherit;

    overflow-wrap: break-word;
    @include mx.transition(opacity, height);
  }

  &__btns {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 0.75rem;
    font-size: 1.8rem;
    font-weight: 600;

    @media (max-width: 767px) {
      gap: 0.5rem;
      justify-content: stretch;
    }
  }

  &__btn {
    background: var.$categoryBtnColor;
    border: none;
    padding: 2rem 2.5rem;
    border-radius: var.$smallBorderRadius;
    color: var.$textColor;
    cursor: pointer;

    @media (max-width: 767px) {
      padding: 0.8rem 1.2rem;
      flex: 1 1 auto;
    }

    &:hover {
      @include mx.hoverBtnCategory;
    }

    &:focus {
      @include mx.focusBtnCategory;
    }
  }
}
