.allCategories {
  padding: 2rem 1rem;

  h2 {
    font-size: clamp(2.2rem, 3vw, 2.5rem);
  }

  &__category {
    margin-bottom: 5rem;
    position: relative;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 2rem;
  }

  &__title {
    font-weight: 700;
  }

  &__seeMore {
    color: var.$textColor;
    text-decoration: none;
    @include mx.transition(color);

    &:hover,
    &:focus {
      color: var.$activeColor;
    }
  }
}