.mainContainer {
  padding: 1rem;
  background-color: var.$bgColor;
  color: var.$textColor;
  gap: 3rem;
  font-family: var.$fontBase;

  min-height: 100vh;
  min-height: 100dvh;

  @media (min-width: 768px) {
    padding: 2rem;
  }

  @media (min-width: 1200px) {
    padding: 3rem 4rem;
  }

  &__heading {
    font-size: 3rem;
  }
}
