body {
  background-color: var.$bgColor;
  color: var.$textColor;
  font-family: var.$fontBase;
  
  min-height: 100vh;
  min-height: 100dvh;
}

.main {
  display: grid;
  align-items: center;
  padding: 1.6rem;
  text-align: center;

  &__hero {
    margin-top: 4rem;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 700;
  }

  &__subtitle {
    margin-top: 1rem;
  }
}

